name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go based on the go.mod file
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "./go.mod"

      - name: Build the application
        run: ./build.sh

      - name: Configure the AWS credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-region: ap-northeast-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/steam-game-prices-notifier-github-actions-role
      
      - name: Deploy the application
        run: |
          aws lambda update-function-code \
            --function-name steam-game-prices-notifier-lambda \
            --architectures arm64 \
            --zip-file fileb://./function.zip \
            --publish > /dev/null 2>&1
