name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go based on the go.mod file
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "./go.mod"

      - name: Build the application
        run: ./build.sh

      - name: Configure the AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ap-northeast-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/steam-game-prices-notifier-github-actions-role
      
      - name: Deploy the application
        run: |
          aws lambda update-function-code \
            --function-name steam-game-prices-notifier-lambda \
            --architectures arm64 \
            --zip-file fileb://./function.zip \
            --publish > /dev/null 2>&1
