name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  octocov:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go based on the go.mod file
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "./go.mod"

      - name: Run tests with the coverage output
        run: go test -v -race -shuffle on ./app/... -coverprofile=coverage.out

      - name: Create a coverage report
        uses: k1LoW/octocov-action@73d561f65d59e66899ed5c87e4621a913b5d5c20 # v1.5.0
        with:
          config: .octocov.yaml

  jest:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "awscdk"

    steps:
      - name: Check out code into the AWS CDK directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: "./awscdk/package.json"
          cache: "npm"
          cache-dependency-path: "./awscdk/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Run tests with the coverage output
        run: npm test --maxWorkers=100% --watchAll=false --coverage
